<section class="bck dark landing text center color white">
  <div class="row">
      <div class="column_10 offset_1 align left">
          <h1 class=""><strong>sack</strong></h1>
          <h2 class="margin-bottom">control information before information controls you!</h2>
          <%= link_to 'Go to the sack', '/saks/52b31e4a4d61632012000000', class: 'button secondary' %>
      </div>
  </div>
</section>
