<section class="bck dark landing text center color white">
  <div class="row">
      <div class="column_10 offset_1 align left">
          <h1 class=""><strong>sack</strong></h1>
          <h2 class="margin-bottom">control information before information controls you!</h2>
      </div>
  </div>
</section>
