<section class="bck darkest landing text center color white">
        <div class="row">
            <div class="column_10 offset_1">
                <h1><strong>sack</strong></h1>
                <h2 class="margin-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
            </div>
        </div>
</section>
