<div class="main-inner">
    <div class="row">
        <h1>Sack</h1>
    </div>

    <div class="input-group">
        <input type="url" id="url-input" name="url" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="new-item">Add</button>
        </span>
    </div>

</div>
    
