<section class="row text column_9">
    <% items.each do |item| %>
        <article class="bck light margin padding">
                <%= link_to item.title,
                    item.url,
                    target: 'blank',
                    class: 'text underline color darkest' %>:
            <small><%= item.description %></small>
        </article>
    <% end %>
</section>