<section class="row text">
    <% items.each do |item| %>
        <article class="margin-left margin-bottom padding bck column_9 light">
                <%= link_to item.title,
                    item.url,
                    target: 'blank',
                    class: 'text underline color darkest' %>:
            <small><%= item.description %></small>
        </article>
    <% end %>
</section>