<div class="column_6 form margin subscribe">
    <%= form_tag items_path, method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: 'Search items in the sack' %>
        <%= submit_tag "Search", nam: nil %>
    <% end %>
        <small>Your search returned </small><strong><%= items.size %></strong><small> hits in your sack</small>
</div>

