<aside class="column_3">
    <section>
        <header class="margin">
            <%= image_tag 'sack.png', width: '250' %>
        </header>
         <p class="notice"><%= notice %></p>
         <%= render partial: 'success_modal' %>
    </section>  
</aside>