<aside class="column_3 margin-top">
    <section>
        <header class="margin align center">
            <%= image_tag 'sack.png', width: '200' %>
        </header>
         <p class="notice"><%= notice %></p>
         <%= render partial: 'success_modal' %>
    </section>  
</aside>