<div id="success-message" data-tuktuk="modal" class="column_5 active">
        <header>
            <h4 class="text dark thin align center">Success!</h4>
        </header>
        <article>
           Your item is now updated
        </article>
        <footer>
            <button id="modal-close" data-modal="close" class="anchor secondary"><span class="icon remove"></span>Close</button>
        </footer>
    </div>