<div class="row">
    <%= render partial: 'sidebar', locals: { items: @items }  %>
    <section class="bck text margin column_9">
        <%= render partial: 'search_form', locals: { items: @items } %>
        <%= render partial: 'search_results', locals: { items: @items } %>
        
    </section>
</div>

