<section class="bck margin text">
    <div class="row">
        <% @items.each do |item| %>
            <header>
                <h5 class="text bold"><%= link_to item.title, item.url %></h5>
            </header>
            <p><%= item.description %></p>
        <% end %>
    </div>
</section>