<div class="row">
    <%= render partial: 'sidebar', locals: { items: @items }  %>
    <section class="bck text">
        <%= render partial: 'search_form', locals: { items: @items } %>
    </section>
</div>

<section class="inline text margin column_12">
<% @items.each do |item| %>
    <div class="bck column_4 margin item-result">
        <header class="padding-bottom">
            <h2><%= link_to item.title, item.url, target: 'blank' %><h2>
        </header>
        <p><%= item.description %></p>
    </div>
    <% end %>
</section>