<section class="bck margin">
    <div class="row">
        <% @items.each do |item| %>
            <%= item.url %>
            <%= item.title %>
            <%= item.description %>
        <% end %>
    </div>
</section>