<section class="bck margin">
  <div class="row">
      <div class="column_4 align left">
         <h1>Add an item</h1>
        <%= render partial: 'item_form', locals: { item: @item } %>
      </div>
  </div>
</section>