@import "susy";

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$show-grid-backgrounds  : true;



body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.container {
  @include container;
  padding-top: 2em;
}

.center {
  text-align: center;
}

.claim {
  font-size: 3.5em;
}