$alizarin: #e74c3c;
$pomegranate: #cb3f30;
$orange: #F98200;
$red: #CC2525;
$green: #00A06E;
$blue: #2565C7;
$dark: #0D1628;

body {
    .bck.dark {
    background: $dark;
    
    }
}

body, html { height: 100% }

body .button:not(.transparent), body button:not(.transparent) {
    background: none;
    color: $dark;
}

body .button:not(.transparent).secondary,
body button:not(.transparent).secondary {
    background: $dark;
    color: $dark;
}

body form input[type="text"]:required { border-color: $blue; color: $blue }

#success-message {
    visibility: hidden;
}

