@import url("http://fonts.googleapis.com/css?family=Raleway:400,300,600");

$alizarin: #e74c3c;
$pomegranate: #cb3f30;
$orange: #F98200;
$red: #CC2525;
$green: #00A06E;
$blue: #2565C7;
$dark: #0D1628;
$brown: #323133;

body {
    font-family: 'Raleway';
    color: $brown;
    .bck.dark {
    background: $brown;
    }
}

body, html { height: 100% }

body .button:not(.transparent), body button:not(.transparent) {
    background: none;
    color: $brown;
}

body .button:not(.transparent).secondary,
body button:not(.transparent).secondary {
    background: $brown;
    color: $brown;
}

body form input[type="text"]:required { border-color: $blue; color: $blue }

strong {
    font-weight: 600 !important;
}

h1 { font-size: 3.6em; }

#success-message {
    visibility: hidden;
}

#error-message {
    visibility: hidden;
}

#edit-item-form {

}


