<header class="bck dark ">
        <div class="row">
            <nav class="column_12 text right">
            <%= link_to 'Logout', '#', class: 'button secondary' %>
            </nav>
        </div>
    </header>