<header class="bck dark ">
        <div class="row">
            <nav class="column_12 text right">
                <a href="#" class="button secondary"><span class="icon user"></span>Login</a>
                <a href="#" class="button"><span class="icon pencil"></span>Signup</a>
            </nav>
        </div>
    </header>