<section class="margin-bottom">
    <header class="column_4 margin-bottom offset_2 align center   text italic">
        <%= image_tag 'sack.png', width: '250' %>
        <h5 class="align right"><strong class="color theme"><%= Item.count %></strong> items in your sack</h5>
    </header>
    <%= form_tag sak_path(@sak), method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: 'Search items in the sack' %>
    <% end %>
</section>
<hr>

