<section>
    <p class="align right margin-bottom"><small>Your search returned </small><strong><%= @search_items.size %></strong><small> hits</small></p>
    <% @search_items.each do |item| %>
        <article class="bck light margin-bottom padding">
            <header>
            </header>
            <div>
                    <%= link_to item.title,
                        item.url,
                        target: 'blank',
                        class: 'text underline color darkest bold' %>:
                <small><%= item.description %></small>
                <%= link_to 'Click to edit', edit_sak_item_path(@sak, item._id), class: 'on-right', id: 'toggle-edit-form' %>
            </div>
        </article>
    <% end %>
</section>