<aside class="column_3 margin-top">
    <section>
         <p class="notice"><%= notice %></p>

         <%= render partial: 'layouts/item_form', locals: { sak: @sak } %>
         <%= render partial: 'layouts/success_modal' %>
    </section>  
</aside>