<aside class="column_3 margin-top">
    <section>
         <%= render partial: 'layouts/item_form', locals: { sak: @sak, item: @item } %>
         <%= render partial: 'layouts/success_modal' %>
         <p class="notice"><%= notice %></p>
    </section>  
</aside>